.header {
    grid-area: h;
    background-image: url(../../images/yellowBook.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sance-serif;
    font-weight: 400;
    font-size: 2.5rem;  
    display: grid;  
    grid-template-columns: 38% auto;
}
.header div {
    display: grid;
    justify-items: end;
    align-items: center;
}
.header p {
    display: grid;
    justify-items: start;
    align-items: center;
}
.header div img {
    width: 7.5rem;
}
