.header {
    grid-area: h;
    /* background-color: aqua; */ /* do not ever ever leave commented lines of code */
    background-image: url(../../images/yellowBook.jpg);
    background-size: cover;
    text-align: center;
    font-family: 'Orbitron', sance-serif;
    font-weight: 400;
    font-size: 1.4em;  
    display: grid;  
    grid-template-columns: 40% auto;
}
.header div {
    display: grid;
    justify-items: end;
    align-items: center;
}
.header p {
    display: grid;
    justify-items: start;
    align-items: center;
}
.header div img {
    width: 75px;
}
