.table {
    background-color: rgba(189, 163, 16, 0.774);
    display: grid;
    width: 800px;
    justify-items: center;
    grid-template-rows: 2fr 1fr 10fr;
}
.input {
    display: grid;
    background-color: rgb(152, 203, 236);
    width: 300px;
    height: fit-content;
    margin: auto;
}
.inputSearch {
    background-color: yellowgreen;
}
.form {
    display: grid;
    justify-content: center;
    align-items: center;
}
.heading {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    width: inherit;
    grid-gap: 10px;
}
.heading div {
    display: grid;
    background-color: slateblue;
    justify-items: center;
    margin-bottom: 2px;
}
.content {
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    width: inherit;
    grid-gap: 10px;
}






