.app-wrapper {
    display: grid;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    grid-template-areas: "h" "n" "c";
    grid-template-rows: 2fr 1fr 25fr;
    grid-gap: 5px;
    
    
}
.app-wrapper-content {
    grid-area: c;
    background-color: rgb(198, 190, 229);
    display: grid;
    justify-content: center;
}