.app-wrapper {
    display: grid;
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    grid-template-areas: "h" "n" "c";
    grid-template-rows: 75px 50px 1fr;
    grid-gap: 5px;
    
    
}
.app-wrapper-content {
    grid-area: c;
    background-color: rgb(135, 110, 223);
    display: grid;
    justify-content: center;
    padding-top: 10px;
}